expire_logs_days= 3   #生命周期7天
default-time-zone = '+8:00' #设置时区为东八区

max_connections=2000

#主从配置
log-bin=mysql-bin                                                #[必须]启用二进制日志
server-id=252                                                      #[必须]服务器唯一ID，默认是1，一般取IP最后一段
binlog-ignore-db=mysql,information_schema,performance_schema,sys #忽略的数据库                  
binlog_format=STATEMENT                                          #设置logbin格式

socket = /dev/shm/mysql.sock                #这一行设定了MySQL服务器的UNIX socket文件的位置
basedir = /usr/local/mysql                  #设定了MySQL的基本目录，也就是MySQL程序文件所在的目录
datadir = /usr/local/mysql/data             #设定了MySQL数据的存储目录，这是MySQL存储数据库文件的地方
pid-file = /usr/local/mysql/data/mysql.pid  #这一行设定了MySQL服务器的UNIX socket文件的位置

log_error = /usr/local/mysql/logs/mysql-error.log

#配置数据库字符集及排序规则
init_connect='SET collation_connection = utf8mb4_unicode_ci'
init_connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake
skip-name-resolve

[client]
default-character-set=utf8mb4
socket = /dev/shm/mysql.sock

[mysql]
default-character-set=utf8mb4

max_allowed_packet=256M


---------------------上面是主库my.cnf，下面是从库my.cnf-----------------------------


expire_logs_days=7   #生命周期7天
default-time-zone = '+8:00' #设置时区为东八区

max_connections=2000

#wait_timeout=2880000
#interactive_time=2880000
#imax_allowed_packet=1024m

#主从配置
server-id=2           #[必须]服务器唯一ID，默认是1，一般取IP最后一段            
relay-log=mysql-relay #启用中继日志
slave-skip-errors=1054

socket = /dev/shm/mysql.sock
basedir = /usr/local/mysql
datadir = /usr/local/mysql/data
pid-file = /usr/local/mysql/data/mysql.pid

expire_logs_days = 30
log_error = /usr/local/mysql/logs/mysql-error.log

#配置数据库字符集及排序规则
init_connect='SET collation_connection = utf8mb4_unicode_ci'
init_connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake
skip-name-resolve

[client]
default-character-set=utf8mb4
socket = /dev/shm/mysql.sock

[mysql]
default-character-set=utf8mb4

max_allowed_packet=256M
