<!-- 这个文件默认配置可以直接使用，替换以下部分就行 -->
<mycat:server xmlns:mycat="http://io.mycat/">

  <!-- name：mycat用户名 -->
  <user name="root" defaultAccount="true">
    <!-- mycat密码 -->
    <property name="password">123456</property>
    <!-- 对应schema.xml中标签schema的name -->
    <property name="schemas">DB01,ITCAST_RW</property>
  </user>

  <user name="user">
    <property name="password">123456</property>
    <property name="schemas">DB01</property>
    <!-- 只读属性，root用户既可以读又可以写，而user用户只能读不能写-->
    <property name="readOnly">true</property>
  </user>
</mycat:server>
